<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!--
		<context-param> <param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml,/WEB-INF/timerContext.xml</param-value>
		</context-param>
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<!--
				指定org.springframework.orm.jpa.LocalEntityManagerFactoryBean在spring配置文件中的名称,默认值为entityManagerFactory
				如果LocalEntityManagerFactoryBean在spring中的名称不是entityManagerFactory,该参数一定要指定,否则会出现找不到entityManagerFactory的例外
			-->
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>entityManagerFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 编码过滤器-->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>com.blog.filter.MyStruts2Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<!--
			<dispatcher>REQUEST</dispatcher> <dispatcher>FORWARD</dispatcher>
		-->
	</filter-mapping>

	<filter>
		<filter-name>redisp</filter-name>
		<filter-class>com.blog.web.servlet.ServletFilter</filter-class>
		<init-param>
			<param-name>includeServlets</param-name>
			<param-value>authimg.servlet</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>redisp</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>authimg</servlet-name>
		<servlet-class>com.blog.web.servlet.AuthImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authimg</servlet-name>
		<url-pattern>/authimg.servlet</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>oscache</taglib-uri>
			<taglib-location>/WEB-INF/classes/oscache.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!--	<error-page>-->
	<!--		<error-code>401</error-code>-->
	<!--		<location>/401.html</location>-->
	<!--	</error-page>-->
	<!--	<error-page>-->
	<!--		<error-code>403</error-code>-->
	<!--		<location>/403.html</location>-->
	<!--	</error-page>-->
<!--		<error-page>-->
<!--			<error-code>404</error-code>-->
<!--			<location>/404.htm</location>-->
<!--		</error-page>-->
	<!--	<error-page>-->
	<!--		<error-code>500</error-code>-->
	<!--		<location>/500.html</location>-->
	<!--	</error-page>-->
<!--	    <error-page>  -->
<!--        <error-code>500</error-code>  -->
<!--        <location>/500.html</location>  -->
<!--    </error-page>  -->
<!--    <error-page>  -->
<!--        <error-code>404</error-code>  -->
<!--        <location>/404.htm</location>  -->
<!--    </error-page>  -->
<!--    <error-page>  -->
<!--        <error-code>403</error-code>  -->
<!--        <location>/commons/403.jsp</location>  -->
<!--    </error-page> -->
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/npe.html</location>
	</error-page>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>txt</extension>
		<mime-type>application/txt</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>chm</extension>
		<mime-type>application/mshelp</mime-type>
	</mime-mapping>

	<!--
		缓存过滤器 整个页面的缓存：用CashFilter实现页面级缓存，可缓存单个文件、缓存URL pattern和自己设定缓存属性的缓存。
		<filter> <filter-name>CacheFilter</filter-name>
		<filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
		<init-param> <param-name>time</param-name>
		<param-value>600</param-value> </init-param> <init-param>
		<param-name>scope</param-name> <param-value>session</param-value>
		</init-param> </filter> <filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern> </filter-mapping>
	-->
</web-app>