<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 开启注解处理器 -->
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 定义使用C3P0连接池的数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 指定连接数据库的JDBC驱动 -->
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<!-- 连接数据库所用的URL -->
		<property name="jdbcUrl">
			<value>jdbc:mysql://127.0.0.1:3306/goodymdate?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<!-- 连接数据库的用户名 -->
		<property name="user">
			<value>root</value>
		</property>
		<!-- 连接数据库的密码 -->
		<property name="password">
			 <value>root</value> 
		</property>
		<!-- 设置数据库连接池的最大连接数 -->
		<property name="maxPoolSize">
			<value>20</value>
		</property>
		<!-- 设置数据库连接池的最小连接数 -->
		<property name="minPoolSize">
			<value>2</value>
		</property>
		<!-- 设置数据库连接池的初始化连接数 -->
		<property name="initialPoolSize">
			<value>2</value>
		</property>
		<!-- 设置数据库连接池的连接的最大空闲时间,单位为秒 -->
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<!-- 定义Hibernate的SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 依赖注入上面定义的数据源dataSource -->
		<property name="dataSource" ref="dataSource" />
		<!-- 注册Hibernate的ORM映射文件 -->
		<property name="mappingResources">
			<list>
				 <value>cn/goodym/ORM/Admin.hbm.xml</value>
				 <value>cn/goodym/ORM/HymYear.hbm.xml</value>
				 <value>cn/goodym/ORM/HymArticle.hbm.xml</value></list>

		</property>
		<!-- 设置Hibernate的相关属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 设置Hibernate的数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- 设置Hibernate是否在控制台输出SQL语句，开发调试阶段通常设为true -->
				<prop key="show_sql">true</prop>
				<!-- 设置Hibernate一个提交批次中的最大SQL语句数 -->
				<prop key="hibernate.jdbc.batch_size">50</prop>
				
			</props>
		</property>
	</bean>

	<!--定义Hibernate的事务管理器HibernateTransactionManager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 装配HibernateTemplate实例 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<!-- 装配通用数据库访问类BaseDAOImpl -->
	<bean id="dao" class="cn.goodym.DAO.BaseDAOImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	
		<!-- 部署Struts2.1负责系统用户管理的控制器AdminAction -->
	<bean id="adminAction" class="cn.goodym.struts.action.AdminAction" scope="prototype">		
		<property name="dao" ref="dao" />
	</bean>
	
	<!-- 部署Struts2.1负责系统用户管理的控制器ArticleAction -->
	<bean id="articleAction" class="cn.goodym.struts.action.ArticleAction" scope="prototype">		
		<property name="dao" ref="dao" />
	</bean>
	
   	
</beans>