<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
  	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop 
  	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  	http://www.springframework.org/schema/tx 
  	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<context:component-scan base-package="com.paySystem.ic " />
	
	<!-- 引入数据库配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<context:component-scan base-package="com.paySystem.ic" />  
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="${driverClassName}"/>
	    <property name="url" value="${url}"/>
	    <property name="username" value="${username}"/>
	    <property name="password" value="${password}"/>
	  
	  
	      <!--  连接池启动时的初始值 -->
	    <property name="initialSize" value="${initialSize}"/>
	    <!--  连接池的最大值  -->
	    <property name="maxActive" value="${maxActive}"/>
	    <!--  最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
	    <property name="maxIdle" value="${maxIdle}"/>
	    <!--  最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
	    <property name="minIdle" value="${minIdle}"/>
	    <!--  超时时间(以秒数为单位) -->
	    <property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}"/>
	   	<!-- 超时等待时间以毫秒为单位 6000毫秒/1000等于60秒 -->
	    <property name="maxWait" value="${maxWait}"/>
	    <!-- sql心跳数据库链接断开重连 -->
	    <property name="testWhileIdle"><value>true</value></property> <!-- 打开检查,用异步线程evict进行检查 -->  
        <property name="testOnBorrow"><value>false</value></property>  
        <property name="testOnReturn"><value>false</value></property>  
        <property name="validationQuery"><value>select current_date</value></property>  
        <!--<property name="validationQueryTimeout"><value>1</value></property>  
        --><property name="timeBetweenEvictionRunsMillis"><value>30000</value></property>
        <!-- 参数numTestsPerEvictionRun,设定在进行后台对象清理时,每次检查几个对象 -->  
        <property name="numTestsPerEvictionRun"><value>20</value></property>  
        
  	</bean>	
  	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="loadTimeWeaver">
	         <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
	    </property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
   </bean>   
   <!-- 使用注解方式声明事务管理器 -->
   <tx:annotation-driven transaction-manager="transactionManager"/>
   <aop:aspectj-autoproxy />
   
<!--    <import resource="timerContext.xml" /> -->
<!--    <import resource="applicationContext-mail.xml"/> -->
</beans>
